* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffb14c63;
    color: #333;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  h1, h2, h3 {
    margin-bottom: 20px;
    color: #f5882f;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.75em;
  }

  p {
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.8;
  }

  .p1 {
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.8;
    text-align: center;
  }

  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
 
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #25588f;
  }
  

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 2em;
    }
  
    h2 {
      font-size: 1.75em;
    }
  
    h3 {
      font-size: 1.5em;
    }
  }
  

  section {
    margin-bottom: 40px;
  }
  

  ul {
    list-style: none;
    padding-left: 0;
  }
  
  ul li {
    background: #ffcc3e1f;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #ff9925;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-picture {
    display: block;
    max-width: 250px;
    margin: 20px auto;
    border-radius: 5%;
  }
  .info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .info-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .info-table td:first-child {
    font-weight: bold;
    width: 150px;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .calculator {
    max-width: 300px;
    width: 100%;
  }
  .calc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calc-section p {
    font-size: 30px;
  }
  .calc-section input {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .link-container {
    margin-top: 20px;
}
a {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #ff944d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    background-color: #e65c00;
}